<div class="w-100 h-100 d-flex position-relative" style="margin-top: 3.3%;">
    <aside class="col-2 border-end border-secondary d-flex align-items-start position-relative" [ngStyle]="totalHeight">
      <div class="divSticky options col-2 position-fixed d-flex flex-column justify-content-center align-items-center ps-1 fw-bolder">
        <div class="p-4 border-primary border-end subtitle d-flex gap-3 flex-column">
          <p>PROJETO NAPE</p>
          <p>O NOSSO OBJETIVO</p>
          <p>QUEM SOMOS</p>
        </div>
      </div>
    </aside>
    <main class="col-10  flex-grow-1">
      <div class="scrollPage w-100 d-flex flex-column align-items-center gap-3  p-5" [ngStyle]="totalHeight" >
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>

      </div>
    </main>
</div>
